/*------------------------ 2.1 Full Menu ------------------------*/
.fullmenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    opacity: 0;
    visibility: hidden;   
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.fullmenu.visible {
    background-size: 100%;
    opacity: 1;
    visibility: visible;   
    transition: opacity 0.7s, visibility 0s;
}

.fullmenu.visible .fullmenucontent {
    -webkit-overflow-scrolling: touch;
    height: 100vh;
}

.fullmenu.visible .modalclose {
    visibility: visible;
    opacity: 1;    
    transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;     
    transform: scale(1);
}

@media only screen and (min-width: 1100px) {
    .fullmenu .fullmenucontent {
        padding: 6em 5%;
    }
    .fullmenu .modalclose {
        height: 60px;
        width: 60px;
    }
    .fullmenu p {
        font-size: 25px;
    }
}

.cdtransitionlayer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.cdtransitionlayer .bglayer {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-2%);   
    transform: translateY(-50%) translateX(-2%);     
    height: 100%;
    /* our sprite is composed of 25 frames */
    width: 2500%;
    background: url(../public/Navbar/ink.png) no-repeat 0 0;
    background-size: 100% 100%;
}

.cdtransitionlayer.visible {
    opacity: 1;
    visibility: visible;
}

.cdtransitionlayer.opening .bglayer {     
    animation: cdsequence 1.0s steps(24);     
    animation-fill-mode: forwards;
}

.cdtransitionlayer.closing .bglayer {     
    animation: cdsequencereverse 1.0s steps(24);    
    animation-fill-mode: forwards;
}

.nocssanimations .cdtransitionlayer {
    display: none;
}

 
@keyframes cdsequence {
    0% {
        transform: translateY(-50%) translateX(-2%);
    }
    100% {        
        transform: translateY(-50%) translateX(-98%);
    }
}

@keyframes cdsequencereverse {
    0% {
         
        transform: translateY(-50%) translateX(-98%);
    }
    100% {
         
        transform: translateY(-50%) translateX(-2%);
    }
}
